config
setup/plexdriveplus_install.sh
plex-meta-manager/UUID
plex-meta-manager/TV Shows_missing.yml
plex-meta-manager/TV Shows 4K_missing.yml
plex-meta-manager/Movies_missing.yml
plex-meta-manager/Movies 4K_missing.yml
plex-meta-manager/config.cache
.vs/*
